# please make sure you have already a pytorch install that is cuda enabled!
av>=11.0.0
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
num2words
numpy<2.0.0
sentencepiece
spacy==3.7.6
# We seek to install on Pytorch i.e. torch 2.6.
torch>=2.1.0
# By running pip install --upgrade torchaudio as of Mar 18 2025, we have
# torchadio-2.6.0.
torchaudio>=2.0.0,<2.7.0
huggingface_hub
tqdm
transformers>=4.31.0  # need Encodec there.
# Originally, xformers<0.0.23
#xformers
demucs
librosa
soundfile
gradio
torchmetrics
encodec
protobuf
# As of Mar 18, 2025, pip install -U torchvision yields 0.21.0.
torchvision>=0.16.0
# As of Mar 18, 2025, pip install -U torchtext yields 0.18.0.
torchtext>=0.16.0
pesq
pystoi
torchdiffeq
